**FINAL PYTHON**

ALUMNA: Nikol Sheyla Rondón Neyra

**1. Data Frames y Series**

Importar Pandas

In [ ]:
#importa pandas
import pandas as pd

Crear una Serie

In [ ]:
#CREAR UNA SERIE
# Crea una Serie de los numeros 10, 20 and 10.
s1=pd.Series([10,20,10])
s1

0    10
1    20
2    10
dtype: int64

In [ ]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
s2=pd.Series(["rojo", "verde", "azul"])
s2

0     rojo
1    verde
2     azul
dtype: object

Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
import pandas as pd
df = pd.DataFrame()

In [ ]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
import pandas as pd
lista=s1
columnas=["Números"]
df = pd.DataFrame(lista, columns=columnas)
df

   Números
0       10
1       20
2       10

In [ ]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
import pandas as pd
n=s1
c=s2
df = pd.DataFrame({"Números":s1, "Colores":s2})
df

   Números Colores
0       10    rojo
1       20   verde
2       10    azul

Leer un dataframe

In [ ]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"
import pandas as pd
uploaded = files.upload()

Saving avengers.csv to avengers (1).csv

In [ ]:
df = pd.read_csv("avengers.csv")
df

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
...,...,...,...,...,...,...,...
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

Inspeccionar un dataframe

In [ ]:
# Muestra las primeras 5 filas del DataFrame.
df.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [ ]:
# Muestra las primeras 10 filas del DataFrame. 

df.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [ ]:
# Muestra las últimas 5 filas del DataFrame.
df.tail(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

Tamaño del DataFrame

In [ ]:
# Muestra el tamaño del DataFrame
df.describe()

       n_apariciones  fecha_inicio
count     173.000000    173.000000
mean      414.052023   1988.445087
std       677.991950     30.374669
min         2.000000   1900.000000
25%        58.000000   1979.000000
50%       132.000000   1996.000000
75%       491.000000   2010.000000
max      4333.000000   2015.000000

Data types en un DataFrame

In [ ]:
# Muestra los data types del dataframe
df.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

Editar el indice (index)

In [ ]:
# Cambia el indice a la columna "fecha_inicio".
df.set_index("fecha_inicio").copy()

,URL,nombre,n_apariciones,actual,genero,Notes
fecha_inicio,,,,,,
1963,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ultron in Rage of Ultron Vol. 1. A...
1963,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,Dies in Secret Invasion V1:I8. Actually was se...
1963,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later while under the influence of Imm..."
1963,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,"Dies in Ghosts of the Future arc. However ""he ..."
1963,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,Dies in Fear Itself brought back because that'...
...,...,...,...,...,...,...
2013,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,NaN
2014,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,NaN
2014,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,NaN
2014,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,NaN
2015,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,NaN

Ordenar el indice

In [ ]:
# Ordena el índice de forma descendiente
df.sort_values(by=["nombre","actual"], ascending=[False, True])[::1]

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
127,http://marvel.wikia.com/Hollow_(Earth-616)#,Yvette,22,YES,FEMALE,1900,NaN
23,http://marvel.wikia.com/Yondu_Udonta_(Earth-691)#,Yondu Udonta,109,NO,MALE,1978,NaN
47,http://marvel.wikia.com/2ZP45-9-X-51_(Earth-616)#,X-51,149,NO,MALE,1992,Died in Deathlok Vol 2 #5. JK that was actuall...
76,http://marvel.wikia.com/William_Baker_(Earth-6...,William Baker,355,NO,MALE,1900,Died in Identity_Disc_Vol_1_1. Later was revea...
97,http://marvel.wikia.com/William_Kaplan_(Earth-...,"William ""Billy"" Kaplan",123,YES,MALE,2005,NaN
...,...,...,...,...,...,...,...
81,http://marvel.wikia.com/Deathcry_(Earth-616)#,NaN,50,NO,FEMALE,1993,Reduced her to a pile of bones and organsby V...
148,http://marvel.wikia.com/Captain_Universe_(Eart...,NaN,55,YES,MALE,2013,NaN
153,http://marvel.wikia.com/Ex_Nihilo_(Earth-616)#,NaN,24,YES,MALE,2013,Died in New_Avengers_Vol_3_32
154,http://marvel.wikia.com/Abyss_(Ex_Nihilo%27s)_...,NaN,25,YES,FEMALE,2013,Died in New_Avengers_Vol_3_32
166,http://marvel.wikia.com/Doombot_(Avenger)_(Ear...,NaN,14,YES,MALE,2013,NaN

Resetear el indice

In [ ]:
# Resetea el índice
df.reset_index(drop=True, inplace=True)